<html lang="de">
    <head>
        <!-- TODO:
        Alle Texte auf Deutsch ändern, Media querie für die Topleiste und den Balken in der zweiten Box auf  der Landing Page nochmal ändern! 
        -->
        
        
        
        <!--Titel-->
        <title>Erik Hellrung | Persönliche Website</title>
        
        
        <link rel="icon" href="images/logo.png" type="image/png">
        
        
        <!--Meta-Tags-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Persönliche Website von Erik Hellrung">
        <meta name="keywords" content="Erik Hellrung, Student, Darmstadt, Personal Website">
        <meta name="author" content="Erik Hellrung">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--Schiftart-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        
        
        <!--Imports-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
        
        <script src="js/jquery.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/mystyleDE.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
    
    </head>

    
    <!--Start HTML-->
    <body>
        
        <div id="obereleiste">
            <div id="blauesquadrat"></div>
            <div id="headname"><b>Erik Hellrung</b> / B.Sc.          <i class="fas fa-graduation-cap"></i></div>
            
            <ul id="navigation">
                <li class="scroll1">START</li>
                <li class="scroll2">LEBENSLAUF</li>
                <li class="scroll3">DETAILS</li>
                <li class="scroll3-1">THESIS</li>
                <li class="scroll4">KONTAKT</li>
                <a href="https://erik-hellrung.de"><li>ENG</li></a>
            </ul>
            
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-bars"></i></button>
                <div class="dropdown-content nodisplay">
                    <a class="scroll1">START</a>
                    <a class="scroll2">LEBENSLAUF</a>
                    <a class="scroll3">DETAILS</a>
                    <a class="scroll3-1">THESIS</a>
                    <a class="scroll4">KONTAKT</a>
                    <a href="https://erik-hellrung.de">ENG</a>
                <!--TODO breakpoints ändern-->
                </div>
                
            </div>
            
        </div>
        
        <div class="topleiste-platzhalter firstitem"></div>
        
        
        <div id="hintergrund1">
            <div class="container-l">
                <div id="circle-pic"></div>
                <p id="eh"><b>Erik Hellrung</b></p>
                <p>Wirtschaftsingenieurwesen<br>tF. Bauingenieurwesen</p>
            </div>
            <div class="container-l">
                <p id="h1-p"><b>WILLKOMMEN</b></p>
                <div id="h1-balken1"></div>
                <p id="h1-text">Innerhalb dieser Website möchte ich mich gerne vorstellen.</p>
                <div id="h1-balken2"></div>
                <br>
                <br>
                <div class="middleout">
                <a href="https://de.linkedin.com/in/erik-hellrung-260095193" target="_blank"><i class="fab fa-linkedin imagebig pagecolor"></i></a>
                <a href="https://www.xing.com/profile/Erik_Hellrung2" target="_blank"><i class="fab fa-xing-square imagebig pagecolor"></i></a>
                <a href="mailto:erik.hellrung@web.de"><i class="fas fa-envelope imagebig pagecolor"></i></a></div>
                <br><br><br>
                <div class="middleout">
                <i id="button1" class="fas fa-arrow-down pagecolor buttonmove" style="font-size: 40px"></i>
                </div>
            </div>
        </div>
        
        <div class="wrap">
            <div id="hintergrund2">
                <div id="res-facts" class="container-m">
                    <h1><b>Persönliche Daten</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>Erik Hellrung</li>
                        <li>Geboren am 26.06.1997 in Witzenhausen</li>
                        <li>Ledig</li>
                    </ul>
                </div>
                <div id="res-tl-ed" class="container-xl timeline">
                    <h1><b>Ausbildung</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>
                          <div>
                            <time>2003 - 2007</time><hr>
                              Grundschule 'Am Brunnen vor dem Tore', 
                              Bad Sooden-Allendorf
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>2007 - 2015</time><hr>
                              Gymnasialzweig der Rhenanusschule, Bad Sooden-Allendorf,<br> 
                              Abiturnote: 1,6
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>09/2015 – 05/2019</time><hr>
                              Technische Universität Darmstadt
                              Wirtschaftsingenieurwesen tF. Bauingenieurwesen (B.Sc.)<br>
                              Abschlussnote: 1,91
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>09/2019 - currently</time><hr>
                              Technische Universität Darmstadt
                              Wirtschaftsingenieurwesen tF. Bauingenieurwesen (M.Sc.)
                          </div>
                        </li>
                  </ul>
                </div>
                <div id="res-tl-work" class="container-xl timeline">
                    <h1><b>Praktische Erfahrung</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>
                          <div>
                            <time>09/2013 – 02/2015</time><hr>
                              Nachhilfe in Mathematik und Englisch, 
                              Bad Sooden-Allendorf
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>07/2015 – 09/2015</time><hr>
                              Gastronomie Schloss Rothestein, Bad Sooden-Allendorf 
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>10/2016 – 02/2017</time><hr>
                              Tutorentätigkeit in Buchführung, 
                              Technische Universität Darmstadt
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>08/2017 - 09/2020</time><hr>
                              Werkstudent bei GOLDBECK Südwest GmbH, Frankfurt
                          </div>
                        </li>
                  </ul>
                </div>
                <div id="res-lang" class="container-m">
                    <h1><b>Sprachkenntnisse</b></h1><div class="res-hr"></div>
                    <table>
                        <tr>
                            <td>Deutsch:</td>
                            <td>Muttersprache</td>
                        </tr>
                        <tr>
                            <td>Englisch:</td>
                            <td>Sehr gute Sprachkenntnisse (C1)</td>
                        </tr>
                        <tr>
                            <td>French:</td>
                            <td>Grundkenntnisse (A2)</td>
                        </tr>
                    
                    
                    </table>

                </div>
                <div id="res-prolang" class="container-m">
                    <h1><b>Programmier-<br>sprachen</b></h1><div class="res-hr"></div>
                    <ul>
                        <li style="display: none">Excel-VBA</li>
                        <li>Java</li>
                        <li>HTML, CSS, Javascript</li>
                    </ul>
                </div>
                <div id="res-edv" class="container-m">
                    <h1><b>EDV-Kenntnisse</b></h1><div class="res-hr"></div>
                    <table>
                        <tr>
                            <td>Sehr gut:</td>
                            <td>MS-Word, MS-Excel</td>
                        </tr>
                        <tr>
                            <td>Gut:</td>
                            <td>MS-Power-Point, MS-Project</td>
                        </tr>
                        <tr>
                            <td>Grund&shy;kenntnisse:</td>
                            <td>DESITE BIM, NOVA AVA</td>
                        </tr>
                    
                    
                    </table>
                </div>
                <div id="res-eng" class="container-m">
                    <h1><b>Engagement</b> (seit 05/2019)</h1><div class="res-hr"></div>
                    <ul>
                        <li><a href="https://www.iaeste-darmstadt.de/new/" target="_blank"><img src="images/iaeste.jpg" width="90px" style="margin-left: 20px; border-radius: 20px;margin-right: 10px"></a>   IAESTE Germany, Local Committee Darmstadt </li>
                    </ul>
                    <p>Vermittlung von Praktika für Studierende sowie Organisation des Aufenthaltes für internationale Studierende (Betreuung, Unterkunft).</p>
                </div>
                <!--TODO: Link einfügen-->
                <div id="res-down" class="container-m">
                    <h1><b>Download</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>
                        <a href="https://drive.google.com/uc?export=download&id=1vd9XntuCZSnGa9I7S2wpmQIw26MdyEyA"><button class="btn-down">Download CV</button></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--https://owlcarousel2.github.io/OwlCarousel2/docs/api-classes.html
        -->
        <div class="topleiste-platzhalter third"> </div>
        
        
        <!--GOLDBECK
        TODO: Link einfügen
        -->
        <div id="hintergrund3">
            <div class="owl-carousel owl-theme">
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild1">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Goldbeck-Logo.svg/2000px-Goldbeck-Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Goldbeck Südwest GmbH</b> - Frankfurt</h1>
                            <ul>
                                <li>Protokolle & Präsentationen</li>
                                <li>Massenermittlung, Kalkulation, Angebote</li>
                                <li>Lean Construction Management</li>
                                <li>Technischer Einkauf</li>
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>GOLDBECK hat mich während meiner Studien&shy;zeit stets be&shy;gleitet und mir viel praktischen Mehr&shy;wert zur Theorie des Studiums ge&shy;geben. In dieser Zeit konnte ich fachlich als auch per&shy;sönlich viel mitnehmen zur Vor&shy;bereitung auf mein späteres Berufs&shy;leben.</p>
                            <a href="https://drive.google.com/uc?export=download&id=1a6S29eY56qVfshJj8t4tTX4rnmENIzFZ">
                            <button class="btn-down btn-white" style="width: 250px">Download Referenz</button></a>
                        </div>
                    </div>
                </div>
                
                <!--Tutorentätigkeit-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild2">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Tutorentätigkeit</b> - Darmstadt</h1>
                            <ul>
                                <li>Vorbereitung & Nachbereitung</li>
                                <li>Übungsleitung & Präsentation</li>
                                <li>Nachhilfe</li>
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Meine Tutoren&shy;tätigkeit in Buch&shy;führung und Kosten- und Leistungs&shy;rechnung hat mir viel Spaß be&shy;reitet. Besonders die Inter&shy;aktion mit den Studierenden als auch das Vermitteln von Wissen stand hier&shy;bei für mich im Fokus.</p>
                        </div>
                    </div>
                </div>
                
                <!--Seminar Populism-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild6">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Seminar "Populism, Polarization & Protest"</b></h1>
                            <ul>
                                <li>Thema: "Positionelle Deprivation und die Unterstützung radikal linker und rechter Parteien"</li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=1fbQzJTrQgY2jWP25dhqHC2notSqaHVO3"><button class="btn-down">Download PDF</button></a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Die Seminar&shy;arbeit analysiert die Aus&shy;wirkungen positioneller Depri&shy;vation auf das radikale Wahl&shy;verhalten und setzt sich kritisch mit dem aktuellen Forschungs&shy;stand aus&shy;einander. Daraus folgend können Ursachen des Erstarkens radikaler Parteien identi&shy;fiziert werden.</p>
                        </div>
                    </div>
                </div>
                
                <!--Projekt IPBU-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild7">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Interdisziplinäres Projekt "Bau und Umwelt"</b></h1>
                            <ul>
                                <li>Neuplanung einer Eisenbahnbrücke auf der Strecke 3550</li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=1A7CkFLZs85-jbPodGlThKH_8S9wy07lj"><button class="btn-down">Download PDF</button></a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p style="font-size: 18px">Im Rahmen dieses Projekts sollte eine baufällige Bestandsbrücke durch eine Neuplanung ersetzt werden. Die Neuplanung sollte dabei tragwerks&shy;planerische, verkehrs&shy;technische und bau&shy;betrieb&shy;liche Aspekte berück&shy;sichtigen. Thematisch stand dazu noch das Projekt&shy;management sowie der Einsatz digitaler Werkzeuge im Vorder&shy;grund (BIM & Objekt&shy;überwachung).</p>
                        </div>
                    </div>
                </div>
                
                
                <!--Seminar Demokratie-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild5">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Seminar "Demokratie"</b></h1>
                            <ul>
                                <li>Fragestellung: "Fördert Entwicklungshilfe die Demokratie?"
                                </li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=1oADV5e5Q8soBLw9HawckLqhasWE-8PUO"><button class="btn-down">Download PDF</button></a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Die Seminar&shy;arbeit setzt sich kritisch mit den Interessen, Hinter&shy;gründen und den Ein&shy;flüssen der Entwicklungs&shy;hilfe auseinander. Hierbei zeigt sich, dass eine wirkuns&shy;volle Hilfe aus vielen Kompo&shy;nenten besteht, welche häufig nicht den Inten&shy;tionen der Geber&shy;länder ent&shy;sprechen.</p>
                        </div>
                    </div>
                </div>
                
                <!--Best Practice Award
                TODO: Link einfügen
                -->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild3">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Best Practice Award
                                </b> - Darmstadt</h1>
                            <ul>
                                <li>Modul "Stahlbau"</li>
                                <li>Untersuchungsobjekt "Rosendom - Park Rosenhöhe"</li>
                                <li style="display: none"><button class="btn-down">Download PDF</button></li>
                                
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Analyse und Nachweis einer Stahl&shy;bau&shy;konstruk&shy;tion aus der Region hin&shy;sicht&shy;lich des statischen Systems, der Be&shy;lastung, des Kraft&shy;flusses, der Materialien und der Errichtung.</p>
                        </div>
                    </div>
                </div>
                
                <!--Case Studies-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild4">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Fallstudien</b></h1>
                            <ul>
                                <li>Le Petit Chef</li>
                                <li>Big Splash Water Park</li>
                                <li>Einzelhandel</li>
                                
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Im Rahmen der Fall&shy;studien wird das aktuelle Port&shy;folio eines Unter&shy;nehmens untersucht und optimiert. Hierbei gilt es unter Berück&shy;sichtigung der Wett&shy;bewerbs&shy;strategien und Ziele des Unter&shy;nehmens mit&shy;hilfe von Kenn&shy;zahlen und ver&shy;schiedenen Werk&shy;zeugen eine profi&shy;table Lösung zu er&shy;arbeiten.</p>
                        </div>
                    </div>
                </div>
                
                <!--Siemens Digital Solutions-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild8">
                            <div class="weißebox">
                                <img style="background-color: white" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Siemens-logo.svg/744px-Siemens-logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Softwarepraktikum zur Standortplanung</b></h1>
                            <ul>
                                <li>Logistik</li>
                                <li>XCargo Excel Add-In</li>
                                <li>Netzwerkoptimierung</li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=111Pl06MkYvt_FRUp0LMt1yVlJkXP0dMU"><button class="btn-down">Download PDF</button></a>
                                </li>
                                
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Im Rahmen dieses Projektes wurden mithilfe realer Datensätze ein Logistiknetzwerk untersucht. Hierfür wurde die Istsituation und die dazugehörige Kostenstruktur visualisiert, analysiert und nachfolgend mithilfe des Programms XCargo optimiert.</p>
                        </div>
                    </div>
                </div>
                
                
                  
            </div>
        </div>
        
        <div class="topleiste-platzhalter third-one"> </div>
        
        <!--styles.css anpassen-->
        <div class="wrap">
            <div id="hintergrund3-1">
                
                
                <h1 id="th-1" class="bordertop borderbottom">
                    <b>Bachelorthesis</b>
                </h1>                
                
                <img id="heuristik" src="images/heuristik.svg">
                
                <div id="th-2" class="container-xl">
                    <h2 class="borderleft" style="margin-top: 15px"><b>Das Problem</b></h2>    
                    <p>Man stelle sich vor es sei eine <b>Menge an Aufträgen</b> innerhalb eines <b>Hochregallagers</b>  auszuführen, welche für sich genommen jeweils einen <b>Fälligkeitstermin</b> besitzen.
                    </p>

                    <h2 class="borderleft"><b>Die Fragestellung</b></h2>
                    <p>In welcher <b>Reihenfolge</b> sollen die Aufträge ausgeführt werden, sodass die <b>Gesamtverspätung minimiert</b> wird?</p>

                    <h2 class="borderleft"><b>Die Lösung</b></h2>
                    <p>Das Problem wird mithilfe der Metaheuristik des <b>Tabu Search</b> gelöst. Diese wird dabei auf das Problem zugeschnitten. Ferner wurden diese Adaptionen mithilfe der nachfolgenden <b>eigens konzipierten Programme</b> getestet und ausgewertet.</p>
                </div>
                
                <h2 id="th-2-2" class="bordertop borderbottom">
                    <b>Der Benchmark-Generator</b>
                </h2>
                
                
                <img id="benchmark" src="images/benchmark.PNG">
                
                <div id="th-3" class="container-xl">
                    <p>Mithilfe des <b>Benchmark-Generators</b> können beliebige <b>Instanzen</b> für das Hochregallagerproblem <b>erzeugt werden</b>. Die erzeugten Instanzen sind dann für Standardsolver verwendbar (z.B. IBM ILOG CPLEX Optimization Studio) oder für das nachfolgende Ausführungsprogramm des <b>Tabu Search</b>.</p>
                </div>
                
                
                <h2 id="th-4" class="bordertop borderbottom">
                    <b>Der Tabu Search</b>
                </h2>
                
                
                <img id="tabusearch" src="images/tabusearch.jpg">
                
                <div id="th-5" class="container-xl">
                    <p>Mithilfe des <b>Programms "Tabu Search"</b> lassen sich die zuvor erzeugten Instanzen öffnen und über die Schaltfläche "Tabu Search ausführen" mithilfe der Heuristik optimieren. Abschließend gibt das Programm die beste gefundene Lösung heraus. Ferner bestehen zahlreiche <b>Test- und Auswertungsfunktionalitäten</b>. Beispielsweise können Aufträge manuell eingegeben werden oder einzelne Komponenten des Tabu Search getestet werden. Zur weiteren Untersuchung der Daten oder zur Erstellungs von Plots kann ein umfassendes <b>Auswertungsprotokoll</b> erstellt werden.</p>
                </div>
                
                <div id="th-6" class="container-xl">
                    <h2><b>Downloads</b></h2>
                    <div class="res-hr"></div>
                    <a href="https://drive.google.com/uc?export=download&id=1QdbskZ3BFPJFGzLU12Xx1SpMhW1yXkmb"><button class="btn-down">Download Thesis</button></a>
                    <a href="https://drive.google.com/uc?export=download&id=1S7P_csHUCm4TIoPc93LdASSm2FpiNAhT"><button class="btn-down">Download Programs</button></a>
                </div>
                <!--links einfügen-->

            </div>
        </div>
        
        <div class="topleiste-platzhalter fourth"> </div>
        
        
        <div id="hintergrund4">
            <div class="container-xl oben bordertop contact1">
                <h1 id="contact-h1"><b>Kontakt</b></h1>
                <div id="contact-span"></div>
                <br>
                <table>
                        <tr>
                            <td><i class="fas fa-user-tie fs30 pagecolor"></i></td>
                            <td>Erik Hellrung</td>
                        </tr>
                    
                        <!--
                        <tr>
                            <td><a href="https://www.google.de/maps/place/Eschollbr%C3%BCcker+Str.+31,+64295+Darmstadt/@49.8593483,8.6331496,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd7a78d739a831:0x8ca3a3eb93827428!8m2!3d49.8593449!4d8.6353383" target="_blank"><i class="fas fa-map-marked-alt fs30 pagecolor"></i></a></td>
                            <td>Eschollbrücker Straße 31a<br>64295 Darmstadt</td>
                        </tr>
                        -->

                        <tr>
                            <td><a href="mailto:erik.hellrung@web.de"><i class="fas fa-envelope fs30 pagecolor"></i></a></td>
                            <td>erik.hellrung@web.de</td>
                        </tr>
                    
                    
                </table>
                
                <p class="zitat"><br><i>"Eine mächtige Flamme entsteht aus einem winzigen Funken."</i>&nbsp;&nbsp;&nbsp;~ Dante Alighiri</p><br>
                
                <p class="contactform">Vielen Dank für Ihre Aufmerksamkeit. Falls Sie weitere Fragen haben sollten, kontaktieren Sie mich bitte per Email oder mithilfe des Formulars,
                </p>
                <p class="contactform2"><b>Erik Hellrung</b></p>
                
                
                <br>
            </div>
            <div class="container-xl bordertop oben contact2">
                <h1 id="contact-h1"><b>Nachricht</b></h1>
                <div id="contact-span"></div>
                <br>
                
                <div ng-app="emailApp" ng-controller="EmailCtrl" class="container">
                    <div>
                      <input style="display: none"
                             value="erik.hellrung@web.de"
                             id="contact-name" 
                             type="text"
                             ng-model="email.to"
                             placeholder="To"
                             ng-change="generateEmailLink(email)"  />
                    </div>
                    <div>
                      <input id="contact-email" 
                             type="text"
                             ng-model="email.extra.subject"
                             placeholder="Betreff"
                             ng-change="generateEmailLink(email)" />
                    </div>
                    <div>
                      <input id="contact-tel"
                             type="text"
                             ng-model="email.extra.cc"
                             placeholder="CC"
                             ng-change="generateEmailLink(email)" />
                    </div>
                    <div>
                      <input id="contact-subject"
                             type="text"
                             ng-model="email.extra.bcc"
                             placeholder="BCC"
                             ng-change="generateEmailLink(email)" />
                    </div>
                    <div>
                      <textarea id="contact-textarea" 
                                ng-model="email.extra.body"
                                ng-change="generateEmailLink(email)"
                                placeholder="Ihre Nachricht"
                                rows="4">
                      </textarea>
                    </div>
                  <pre style="display: none">{{ link }}</pre>
                  <a ng-href="{{ link }}" target="_blank"><button type="submit" id="contact-submit">Send E-Mail</button></a>

                    <pre></pre>

                  
                    
                

                </div>
                
                
                
                

            </div>
        </div>
        
        
        
        
        
        <div id="hintergrund5">
        <small>Copyright &copy; 2020 Erik Hellrung. Alle Rechte vorbehalten - <a href="https://erik-hellrung.de/impressum" target="_blank">Impressum</a></small>
        </div>
        
        
        <!--Start JVS-->
        
        <script>
            
            //Dropdown
           $(".dropbtn").click(function(){
               if($(".dropdown-content").hasClass("nodisplay")){
                   $(".dropdown-content").removeClass("nodisplay");
                   $(".dropdown-content").addClass("blockdisplay");
               }else{
                   $(".dropdown-content").removeClass("blockdisplay");
                   $(".dropdown-content").addClass("nodisplay");
               }
            });
            
            var dreher = 0;
            
            //Scroll 1
            $(".scroll1").click(function(){
                $('html, body').animate({
                    scrollTop: $(".firstitem").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(0deg)");
            });
                    
            //Scroll 2
            $(".scroll2, #button1").click(function(){
                $('html, body').animate({
                    scrollTop: $("#hintergrund2").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(360deg)");
                
                $("#hintergrund2").scrollTop(0);
            });
            
            
            //Scroll 3
            $(".scroll3").click(function(){
                $('html, body').animate({
                    scrollTop: $(".third").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(720deg)");
            });
            
            //Scroll 3-1
            $(".scroll3-1").click(function(){
                $('html, body').animate({
                    scrollTop: $(".third-one").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(1080deg)");
            });
            
            
            //Scroll 4
            $(".scroll4, .fas fa-envelope").click(function(){
                $('html, body').animate({
                    scrollTop: $(".fourth").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(1440deg)");
            });
            
            /*Scroll 5
            $(".scroll5").click(function(){
                $('html, body').animate({
                    scrollTop: $("#hintergrund5").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(1440deg)");
            });
            */
            
            //Blaues Quadratz dreht sich auf Click - macht dann aber nicht immer Sinn! deshabl deaktiviert
            /*document.getElementById("blauesquadrat").onclick = function() {
                document.getElementById("blauesquadrat").style.transform = "rotate(360deg)";
            }*/
            
            
            //ScrolUP und ScrollDown implementieren
            
            
            
            /*Obere Leiste kleiner und größer bei Scroll machen 
            
            $(window).scroll(function(){
                if(this.scrollY < 100){
                    $("#obereleiste").css({"height":"14%","background-color":"white"});
                }else {
                    $("#obereleiste").css({"height":"12%","background-color":"#c7e4ff"});
                }
            });
           
            */
            
            
            //Kleiner Zoom-In
            $(".container-l").hover(function(){
               if($(this).hasClass("zoom")){
                   $(this).removeClass("zoom");
               }else{
                   $(this).addClass("zoom");
               }
            });
            
            //Funktion, benutzbar, falls etwas in Sichtweite kommt
            (function() {

              'use strict';

              // define variables
              var items = document.querySelectorAll(".timeline li");

              // check if an element is in viewport
              // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
              function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                  rect.top >= 0 &&
                  rect.left >= 0 &&
                  rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                  rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
              }

              function callbackFunc() {
                for (var i = 0; i < items.length; i++) {
                  if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                  }
                }
              }

              // listen for events
              window.addEventListener("load", callbackFunc);
              window.addEventListener("resize", callbackFunc);
              window.addEventListener("scroll", callbackFunc);

            })();
            
            
            //Come2Owl
            $(document).ready(function(){
              $(".owl-carousel").owlCarousel();
            });
            
            
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                center:true,
                dots:true,
                lazyLoad:false,
                smartSpeed: 1000,
                items:1,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            });
            
            
            function EmailCtrl ($scope, $window) {
              $scope.email = {
                to: '',
                extra: {}
              };
              $scope.link = emailToLink($scope.email);
              function emailToLink (email) {
                var extra = [];
                var link = 'mailto:erik.hellrung@web.de';
                for (var key in email.extra) {
                  var value = email.extra[key];
                  if (value) {
                    extra.push(key + '=' + $window.encodeURIComponent(email.extra[key]));
                  }
                }
                if (extra.length > 0) {
                  link += '?' + extra.join('&');
                }
                return link;
              }
              $scope.generateEmailLink = function (email) {
                $scope.link = emailToLink(email);
              }
            }

            angular
              .module('emailApp', [
              ])
              .controller('EmailCtrl', EmailCtrl);
            
           
        </script>
        
        
        
        
        
    </body>

</html>