<html lang="en">
    <head>
        <!--Titel-->
        <title>Erik Hellrung | Personal Website</title>
        
        
        <link rel="icon" href="images/logo.png" type="image/png">
        
        
        <!--Meta-Tags-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Persönliche Website von Erik Hellrung">
        <meta name="keywords" content="Erik Hellrung, Student, Darmstadt, Personal Website">
        <meta name="author" content="Erik Hellrung">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--Schiftart-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        
        
        <!--Imports-->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
        
        <script src="js/jquery.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/mystyle.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
    
    </head>

    
    <!--Start HTML-->
    <body>
        
        <div id="obereleiste">
            <div id="blauesquadrat"></div>
            <div id="headname"><b>Erik Hellrung</b> / B.Sc.          <i class="fas fa-graduation-cap"></i></div>
            
            <ul id="navigation">
                <li class="scroll1">ABOUT</li>
                <li class="scroll2">RESUME</li>
                <li class="scroll3">DETAILS</li>
                <li class="scroll3-1">THESIS</li>
                <li class="scroll4">CONTACT</li>
                <a href="https://erik-hellrung.de/DE"><li>DE</li></a>
            </ul>
            
            <div class="dropdown">
                <button class="dropbtn"><i class="fas fa-bars"></i></button>
                <div class="dropdown-content nodisplay">
                    <a class="scroll1">ABOUT</a>
                    <a class="scroll2">RESUME</a>
                    <a class="scroll3">DETAILS</a>
                    <a class="scroll3-1">THESIS</a>
                    <a class="scroll4">CONTACT</a>
                    <a href="https://erik-hellrung.de/DE">DE</a>
                
                </div>
                
            </div>
            
        </div>
        
        <div class="topleiste-platzhalter firstitem"></div>
        
        
        <div id="hintergrund1">
            <div class="container-l">
                <div id="circle-pic"></div>
                <p id="eh"><b>Erik Hellrung</b></p>
                <p>Business Administration /<br>Industrial Engineering</p>
            </div>
            <div class="container-l">
                <p id="h1-p"><b>WELCOME</b></p>
                <div id="h1-balken1"></div>
                <p id="h1-text">Within this website I'd like to introduce myself.</p>
                <div id="h1-balken2"></div>
                <br>
                <br>
                <div class="middleout">
                <a href="https://de.linkedin.com/in/erik-hellrung-260095193" target="_blank"><i class="fab fa-linkedin imagebig pagecolor"></i></a>
                <a href="https://www.xing.com/profile/Erik_Hellrung2" target="_blank"><i class="fab fa-xing-square imagebig pagecolor"></i></a>
                <a href="mailto:erik.hellrung@web.de"><i class="fas fa-envelope imagebig pagecolor"></i></a></div>
                <br><br><br>
                <div class="middleout">
                <i id="button1" class="fas fa-arrow-down pagecolor buttonmove" style="font-size: 40px"></i>
                </div>
            </div>
        </div>
        
        <div class="wrap">
            <div id="hintergrund2">
                <div id="res-facts" class="container-m">
                    <h1><b>Personal data</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>Erik Hellrung</li>
                        <li>Born on 26.06.1997 in Witzenhausen</li>
                        <li style="display: none">Single</li>
                    </ul>
                </div>
                <div id="res-tl-ed" class="container-xl timeline">
                    <h1><b>Education</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>
                          <div>
                            <time>2003 - 2007</time><hr>
                              Primary school ‘Am Brunnen vor dem Tore’, 
                              Bad Sooden-Allendorf
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>2007 - 2015</time><hr>
                              Grammer school ‘Rhenanusschule‘, Bad Sooden-Allendorf,<br> 
                              Final grade: 1,6
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>09/2015 – 05/2019</time><hr>
                              Technical University of Darmstadt
                              Business Administration/ Industrial Engineering – specialising in Civil Engineering (B.Sc.)<br>
                              Final grade: 1,91
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>09/2019 - currently</time><hr>
                              Technical University of Darmstadt
                              Business Administration/ Industrial Engineering – specialising in Civil Engineering (M.Sc.)
                          </div>
                        </li>
                  </ul>
                </div>
                <div id="res-tl-work" class="container-xl timeline">
                    <h1><b>Work experience</b></h1><div class="res-hr"></div>
                    <ul>
                        <li>
                          <div>
                            <time>09/2013 – 02/2015</time><hr>
                              Tutoring in mathematics and english, 
                              Bad Sooden-Allendorf
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>07/2015 – 09/2015</time><hr>
                              Gastronomy Schloss Rothestein, Bad Sooden-Allendorf 
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>10/2016 – 02/2017</time><hr>
                              Tutorship in Accounting, 
                              Technical University of Darmstadt
                          </div>
                        </li>
                        <li>
                          <div>
                            <time>08/2017 - 09/2020</time><hr>
                              Working student at GOLDBECK Südwest GmbH, Frankfurt
                          </div>
                        </li>
                  </ul>
                </div>
                <div id="res-lang" class="container-m">
                    <h1><b>Languages</b></h1><div class="res-hr"></div>
                    <table>
                        <tr>
                            <td>German:</td>
                            <td>Native</td>
                        </tr>
                        <tr>
                            <td>English:</td>
                            <td>Advanced (C1)</td>
                        </tr>
                        <tr>
                            <td>French:</td>
                            <td>Basic (A2)</td>
                        </tr>
                    
                    
                    </table>

                </div>
                <div id="res-prolang" class="container-m">
                    <h1><b>Programming-<br>languages</b></h1><div class="res-hr"></div>
                    <ul>
                        <li style="display: none">Excel-VBA</li>
                        <li>Java</li>
                        <li>HTML, CSS, Javascript</li>
                    </ul>
                </div>
                <div id="res-edv" class="container-m">
                    <h1><b>Software skills</b></h1><div class="res-hr"></div>
                    <table>
                        <tr>
                            <td>Very experienced:</td>
                            <td>MS-Word, MS-Excel</td>
                        </tr>
                        <tr>
                            <td>Experienced:</td>
                            <td>MS-Power-Point, MS-Project</td>
                        </tr>
                        <tr>
                            <td>Basic:</td>
                            <td>DESITE BIM, NOVA AVA</td>
                        </tr>
                    
                    
                    </table>
                </div>
                <div id="res-eng" class="container-m">
                    <h1><b>Engagement</b> (since 05/2019)</h1><div class="res-hr"></div>
                    <ul>
                        <li><a href="https://www.iaeste-darmstadt.de/new/" target="_blank"><img src="images/iaeste.jpg" width="90px" style="margin-left: 20px; border-radius: 20px;margin-right: 10px"></a>   IAESTE Germany, Local Committee Darmstadt </li>
                    </ul>
                    <p>Mediation of internships for local students aswell as organising the stay for international students (accommodation, mobility, local guidance)</p>
                </div>
                
                <div id="res-down" class="container-m">
                    <h1><b>Download</b></h1><div class="res-hr"></div>
                    <ul>
                        <li style="float: left">
                        <a href="https://drive.google.com/uc?export=download&id=1vd9XntuCZSnGa9I7S2wpmQIw26MdyEyA"><button class="btn-down">Download CV</button></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        
        <!--https://owlcarousel2.github.io/OwlCarousel2/docs/api-classes.html
        -->
        <div class="topleiste-platzhalter third"> </div>
        
        
        <!--GOLDBECK
        
        -->
        <div id="hintergrund3">
            <div class="owl-carousel owl-theme">
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild1">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Goldbeck-Logo.svg/2000px-Goldbeck-Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Goldbeck Südwest GmbH</b> - Frankfurt</h1>
                            <ul>
                                <li>Protocols & Presentations</li>
                                <li>Quantity determination, Calculation & Offers</li>
                                <li>Lean Construction Management</li>
                                <li>Technical Procurement</li>
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>GOLDBECK always accompanied me during my studies and gave me a lot of practical added value to the theory of my studies. During this time I was able to take a lot with me, both professionally and personally, in preparation for my future professional life.</p>
                            <a href="https://drive.google.com/uc?export=download&id=1a6S29eY56qVfshJj8t4tTX4rnmENIzFZ">
                            <button class="btn-down btn-white" style="width: 250px">Download Reference</button>
                                </a>
                        </div>
                    </div>
                </div>
                
                <!--Tutorentätigkeit-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild2">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Tutorship</b> - Darmstadt</h1>
                            <ul>
                                <li>Preparation & Postprocessing</li>
                                <li>Supervision & Presentation</li>
                                <li>Tutoring</li>
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>I really enjoyed my tutoring work in accounting and cost and performance accounting. Especially the interaction with the students as well as the imparting of knowledge was in focus for me.</p>
                        </div>
                    </div>
                </div>
                
                <!--Seminar Populism-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild6">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Seminar "Populism, Polarization & Protest"</b></h1>
                            <ul>
                                <li>Topic: "Positional Deprivation and the support for radical right and left parties"</li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=1fbQzJTrQgY2jWP25dhqHC2notSqaHVO3"><button class="btn-down">Download PDF</button></a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>The seminar paper analyzes the effects of positional deprivation on radical voting behavior and critically examines the current state of research. As a result, the causes of the rise of radical parties can be identified.</p>
                        </div>
                    </div>
                </div>
                
                <!--Projekt IPBU-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild7">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Interdisciplinary Project "Construction and Environment"</b></h1>
                            <ul>
                                <li>New planning of a railway bridge on route 3550</li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=1A7CkFLZs85-jbPodGlThKH_8S9wy07lj"><button class="btn-down">Download PDF</button></a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p style="font-size: 18px">Within the framework of this project, a dilapidated existing bridge was to be replaced by a new bridge. The new design should take into account structural, traffic and construction aspects. Thematically, project management and the use of digital tools such as BIM and object monitoring played also an important role.</p>
                        </div>
                    </div>
                </div>
                
                
                <!--Seminar Demokratie-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild5">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Seminar "Democracy"</b></h1>
                            <ul>
                                <li>Research question: "Does foreign aid promote democracy?
                                </li>
                                <li>
                                <a href="https://drive.google.com/uc?export=download&id=1oADV5e5Q8soBLw9HawckLqhasWE-8PUO"><button class="btn-down">Download PDF</button></a>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>The seminar paper critically examines the interests, background and influences of foreign aid. It is shown that effective aid consists of many components, which often do not correspond to the intentions of the donor countries.</p>
                        </div>
                    </div>
                </div>
                
                <!--Best Practice Award
                TODO: Link einfügen
                -->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild3">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Best Practice Award
                                </b> - Darmstadt</h1>
                            <ul>
                                <li>Module "Steel Construction"</li>
                                <li>Study object "Rosendom - Park Rosenhöhe"</li>
                                <li style="display: none"><button class="btn-down">Download PDF</button></li>
                                
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Analysis and verification of a regional steel construction with regard to the static system, the load, the force flow, the materials and the construction.</p>
                        </div>
                    </div>
                </div>
                
                <!--Case Studies-->
                <div class="owl-card">
                    <div class="owl-box">
                        <div class="owl-pic" id="bild4">
                            <div class="weißebox">
                                <img src="https://upload.wikimedia.org/wikipedia/de/thumb/2/24/TU_Darmstadt_Logo.svg/800px-TU_Darmstadt_Logo.svg.png">
                            </div>
                        </div>
                        <div class="owl-innerbox">
                            <h1><b>Case Studies</b></h1>
                            <ul>
                                <li>Le Petit Chef</li>
                                <li>Big Splash Water Park</li>
                                
                                
                            </ul>
                        </div>
                        <div class="owl-innerbox borderleftw">
                            <p>Within the framework of case studies the current portfolio of a company is examined and optimized. The aim is to develop a profitable solution with the help of key figures and various tools while taking into account the company's competitive strategies and goals.</p>
                        </div>
                    </div>
                </div>
                
                
                  
            </div>
        </div>
        
        <div class="topleiste-platzhalter third-one"> </div>
        
        <!--styles.css anpassen-->
        <div class="wrap">
            <div id="hintergrund3-1">
                
                
                <h1 id="th-1" class="bordertop borderbottom">
                    <b>Bachelorthesis</b>
                </h1>                
                
                <img id="heuristik" src="images/heuristik.svg">
                
                <div id="th-2" class="container-xl">
                    <h2 class="borderleft" style="margin-top: 15px"><b>The Problem</b></h2>    
                    <p>Imagine that there are a <b>number of orders</b> to be executed within a <b>high-bay warehouse</b>, each of which has a <b>due date</b>.
                    </p>

                    <h2 class="borderleft"><b>The Question</b></h2>
                    <p>In which <b>order</b> should the jobs be executed so that the <b>total delay</b> is <b>minimized</b>?</p>

                    <h2 class="borderleft"><b>The Solution</b></h2>
                    <p>The problem is solved using the metaheuristic of the <b>Tabu Search</b> which was tailored to the problem. Furthermore, these adaptations were tested and evaluated with the help of the following therefore <b>specially designed programs</b>.</p>
                </div>
                
                <h2 id="th-2-2" class="bordertop borderbottom">
                    <b>The Benchmark-Generator</b>
                </h2>
                
                
                <img id="benchmark" src="images/benchmark.PNG">
                
                <div id="th-3" class="container-xl">
                    <p>With the help of the <b>Benchmark-Generator</b> any <b>instance</b> of the high-bay warehouse problem can be created. The generated instances can then be used for standard solvers (e.g. IBM ILOG CPLEX Optimization Studio) or for the following execution program of the <b>Tabu Search</b>.</p>
                </div>
                
                
                <h2 id="th-4" class="bordertop borderbottom">
                    <b>The Tabu Search</b>
                </h2>
                
                
                <img id="tabusearch" src="images/tabusearch.jpg">
                
                <div id="th-5" class="container-xl">
                    <p>The <b>Tabu Search program</b> can be used to open the previously created instances and the "Tabu Search ausführen" button can be used to optimize them by using the heuristic. Finally, the program returns the best solution found. There are also numerous <b>test and evaluation functionalities</b>. For example, orders can be entered manually or individual components of Tabu Search can be tested. For further examination of the data or for the creation of plots a comprehensive <b>evaluation protocol</b> can be generated.</p>
                </div>
                
                <div id="th-6" class="container-xl">
                    <h2><b>Downloads</b></h2>
                    <div class="res-hr"></div>
                    <a href="https://drive.google.com/uc?export=download&id=1QdbskZ3BFPJFGzLU12Xx1SpMhW1yXkmb"><button class="btn-down">Download Thesis</button></a>
                    <a href="https://drive.google.com/uc?export=download&id=1S7P_csHUCm4TIoPc93LdASSm2FpiNAhT"><button class="btn-down">Download Programs</button></a>
                </div>
                <!--links einfügen-->

            </div>
        </div>
        
        <div class="topleiste-platzhalter fourth"> </div>
        
        
        <div id="hintergrund4">
            <div class="container-xl oben bordertop contact1">
                <h1 id="contact-h1"><b>Contact</b></h1>
                <div id="contact-span"></div>
                <br>
                <table>
                        <tr>
                            <td><i class="fas fa-user-tie fs30 pagecolor"></i></td>
                            <td>Erik Hellrung</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.google.de/maps/place/Eschollbr%C3%BCcker+Str.+31,+64295+Darmstadt/@49.8593483,8.6331496,17z/data=!3m1!4b1!4m5!3m4!1s0x47bd7a78d739a831:0x8ca3a3eb93827428!8m2!3d49.8593449!4d8.6353383" target="_blank"><i class="fas fa-map-marked-alt fs30 pagecolor"></i></a></td>
                            <td>Eschollbrücker Straße 31a<br>64295 Darmstadt</td>
                        </tr>
                        <tr>
                            <td><a href="mailto:erik.hellrung@web.de"><i class="fas fa-envelope fs30 pagecolor"></i></a></td>
                            <td>erik.hellrung@web.de</td>
                        </tr>
                    
                    
                </table>
                
                <p class="zitat"><i>"A mighty flame arises from a tiny spark."</i><br>        ~ Dante Alighiri</p>
                
                <p class="contactform">Thank you for your attention. If you have further questions, please don’t hesitate to contact me by e-mail or with the message form,
                </p>
                <p class="contactform2"><b>Erik Hellrung</b></p>
                
                
                <br>
            </div>
            <div class="container-xl bordertop oben contact2">
                <h1 id="contact-h1"><b>Message me</b></h1>
                <div id="contact-span"></div>
                <br>
                
                <div ng-app="emailApp" ng-controller="EmailCtrl" class="container">
                    <div>
                      <input style="display: none"
                             value="erik.hellrung@web.de"
                             id="contact-name" 
                             type="text"
                             ng-model="email.to"
                             placeholder="To"
                             ng-change="generateEmailLink(email)"  />
                    </div>
                    <div>
                      <input id="contact-email" 
                             type="text"
                             ng-model="email.extra.subject"
                             placeholder="Subject"
                             ng-change="generateEmailLink(email)" />
                    </div>
                    <div>
                      <input id="contact-tel"
                             type="text"
                             ng-model="email.extra.cc"
                             placeholder="CC"
                             ng-change="generateEmailLink(email)" />
                    </div>
                    <div>
                      <input id="contact-subject"
                             type="text"
                             ng-model="email.extra.bcc"
                             placeholder="BCC"
                             ng-change="generateEmailLink(email)" />
                    </div>
                    <div>
                      <textarea id="contact-textarea" 
                                ng-model="email.extra.body"
                                ng-change="generateEmailLink(email)"
                                placeholder="Content of your message"
                                rows="4">
                      </textarea>
                    </div>
                  <pre style="display: none">{{ link }}</pre>
                  <a ng-href="{{ link }}" target="_blank"><button type="submit" id="contact-submit">Send E-Mail</button></a>

                    <pre></pre>

                  
                    
                

                </div>
                
                
                
                

            </div>
        </div>
        
        
        
        
        
        <div id="hintergrund5">
        <small>Copyright &copy; 2020 Erik Hellrung. All Rights Reserved - <a href="https://erik-hellrung.de/Impressum" target="_blank">Impressum</a></small>
        </div>
        
        
        <!--Start JVS-->
        
        <script>
            
            //Dropdown
           $(".dropbtn").click(function(){
               if($(".dropdown-content").hasClass("nodisplay")){
                   $(".dropdown-content").removeClass("nodisplay");
                   $(".dropdown-content").addClass("blockdisplay");
               }else{
                   $(".dropdown-content").removeClass("blockdisplay");
                   $(".dropdown-content").addClass("nodisplay");
               }
            });
            
            var dreher = 0;
            
            //Scroll 1
            $(".scroll1").click(function(){
                $('html, body').animate({
                    scrollTop: $(".firstitem").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(0deg)");
            });
                    
            //Scroll 2
            $(".scroll2, #button1").click(function(){
                $('html, body').animate({
                    scrollTop: $("#hintergrund2").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(360deg)");
                
                $("#hintergrund2").scrollTop(0);
            });
            
            
            //Scroll 3
            $(".scroll3").click(function(){
                $('html, body').animate({
                    scrollTop: $(".third").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(720deg)");
            });
            
            //Scroll 3-1
            $(".scroll3-1").click(function(){
                $('html, body').animate({
                    scrollTop: $(".third-one").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(1080deg)");
            });
            
            
            //Scroll 4
            $(".scroll4, .fas fa-envelope").click(function(){
                $('html, body').animate({
                    scrollTop: $(".fourth").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(1440deg)");
            });
            
            /*Scroll 5
            $(".scroll5").click(function(){
                $('html, body').animate({
                    scrollTop: $("#hintergrund5").offset().top
                }, 1000);
                
                $("#blauesquadrat").css("transform", "rotate(1440deg)");
            });
            */
            
            //Blaues Quadratz dreht sich auf Click - macht dann aber nicht immer Sinn! deshabl deaktiviert
            /*document.getElementById("blauesquadrat").onclick = function() {
                document.getElementById("blauesquadrat").style.transform = "rotate(360deg)";
            }*/
            
            
            //ScrolUP und ScrollDown implementieren
            
            
            
            /*Obere Leiste kleiner und größer bei Scroll machen 
            
            $(window).scroll(function(){
                if(this.scrollY < 100){
                    $("#obereleiste").css({"height":"14%","background-color":"white"});
                }else {
                    $("#obereleiste").css({"height":"12%","background-color":"#c7e4ff"});
                }
            });
           
            */
            
            
            //Kleiner Zoom-In
            $(".container-l").hover(function(){
               if($(this).hasClass("zoom")){
                   $(this).removeClass("zoom");
               }else{
                   $(this).addClass("zoom");
               }
            });
            
            //Funktion, benutzbar, falls etwas in Sichtweite kommt
            (function() {

              'use strict';

              // define variables
              var items = document.querySelectorAll(".timeline li");

              // check if an element is in viewport
              // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
              function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                  rect.top >= 0 &&
                  rect.left >= 0 &&
                  rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                  rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
              }

              function callbackFunc() {
                for (var i = 0; i < items.length; i++) {
                  if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                  }
                }
              }

              // listen for events
              window.addEventListener("load", callbackFunc);
              window.addEventListener("resize", callbackFunc);
              window.addEventListener("scroll", callbackFunc);

            })();
            
            
            //Come2Owl
            $(document).ready(function(){
              $(".owl-carousel").owlCarousel();
            });
            
            
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                center:true,
                dots:true,
                lazyLoad:false,
                smartSpeed: 1000,
                items:1,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            });
            
            
            function EmailCtrl ($scope, $window) {
              $scope.email = {
                to: '',
                extra: {}
              };
              $scope.link = emailToLink($scope.email);
              function emailToLink (email) {
                var extra = [];
                var link = 'mailto:erik.hellrung@web.de';
                for (var key in email.extra) {
                  var value = email.extra[key];
                  if (value) {
                    extra.push(key + '=' + $window.encodeURIComponent(email.extra[key]));
                  }
                }
                if (extra.length > 0) {
                  link += '?' + extra.join('&');
                }
                return link;
              }
              $scope.generateEmailLink = function (email) {
                $scope.link = emailToLink(email);
              }
            }

            angular
              .module('emailApp', [
              ])
              .controller('EmailCtrl', EmailCtrl);
            
           
        </script>
        
        
        
        
        
    </body>

</html>